* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.app {
	min-height: 100vh;
	background-color: #06283D;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app .container {
	background-color: white;
	max-width: 400px;
	width: 100%;
	padding: 20px;
	border-radius: 8px;
}

.app .container .search-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.app .container .search-bar i {
	font-size: 25px;
}

.app .container .search-bar button {
	padding: 12px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #06283D;
	background-color: #ffDffD;
	cursor: pointer;
	transition: .3s;
}

.app .container .search-bar button:hover {
	background-color: #06283D;
	color: white;
}

.app .container .search-bar input {
	width: 100%;
	margin: 0 10px;
	border: 0;
	padding: 10px;
	font-size: 24px;
	text-transform: capitalize;
}

.app .container .search-bar input::placeholder {
	font-size: 20px;
}

.app .container .not-found {
	scale: 0;
	margin-block: 20px;
	display: none;
}

.fadeIn {
	animation: fadeIn .6s forwards;
	animation-delay: .3s;
}

@keyframes fadeIn {
	from {
		scale: 0;
	} to {
		scale: 1;
	}
}

.app .container .weather-box img {
	width: 80%;
	margin: 20px auto 4px;
	display: block;
}

.app .container .weather-box p {
	font-size: 30px;
	text-align: center;
	font-weight: 500;
	position: relative;
}

.app .container .weather-box .temprature {
	width: fit-content;
	margin: 25px auto 5px;
}

.app .container .weather-box .temprature span {
	position: absolute;
	top: -5px;
	right: -35px;
	font-size: 24px;
}

.app .container .weather-details {
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 20px;
	display: none;
}

.app .container .weather-details .humidity i {
	font-size: 28px;
}
